<i ng-if="!player.name" class="fa fa-spinner fa-spin"></i>
<div ng-if="player.name">
    <div class="double-line-height player-name-padding"
      ng-class="getPlayerStatus()">
        {{player.name}} ({{player.status}}) ${{player.dk_stats.salary}} - ({{player.dk_stats.appg}})
    </div>
    <div>
        <b>VAL</b>: {{player.dk_stats.VAL}}
    </div>
    <div>
        <b>Home</b>: {{player.base_stats.average_home_gmsc}}
        <b>Away</b>: {{player.base_stats.average_away_gmsc}}
    </div>
    <div ng-if="position == 'pg' || position == 'sg' || position == 'sf'">
        <b>MIN</b>: {{player.base_stats.stats.playtime}}
        <b>PTS</b>: {{player.base_stats.stats.points}}
        <b>REB</b>: {{player.base_stats.stats.rebounds}}
    </div>
    <div ng-if="position == 'pg' || position == 'sg' || position == 'sf'">
        <b>AST</b>: {{player.base_stats.stats.assists}}
        <b>3PM</b>: {{player.base_stats.stats.threes}}
        <b>STL</b>: {{player.base_stats.stats.steals}}
    </div>
    <div ng-if="position == 'pf' || position == 'c'">
        <b>MIN</b>: {{player.base_stats.stats.playtime}}
        <b>PTS</b>: {{player.base_stats.stats.points}}
        <b>REB</b>: {{player.base_stats.stats.rebounds}}
        <b>BLK</b>: {{player.base_stats.stats.blocks}}
    </div>
    <div>
        <b>OBPM</b>: {{player.OBPM}}
        <b>DBPM</b>: {{player.DBPM}}
    </div>
    <div ng-class="twentytwenty(player.PER, player.USG)">
        <b>TS</b>: {{player.TS}}
        <b>PER</b>: {{player.PER}}
        <b>USG</b>: {{player.USG}}
    </div>
    <div>
        <b>UPM</b>: {{player.USGvsMIN}}
        <b>COV</b>: {{player.base_stats.cov}}
    </div>
    <br>
    <div>
        <div>Last Game</div>
        <b>MIN</b>: {{player.base_stats.last_1_games.playtime}}
        <b>PTS</b>: {{player.base_stats.last_1_games.points}}
        <b>REB</b>: {{player.base_stats.last_1_games.rebounds}}
        <b>AST</b>: {{player.base_stats.last_1_games.assists}}
        <b>3PM</b>: {{player.base_stats.last_1_games.threes}}
        <b>STL</b>: {{player.base_stats.last_1_games.steals}}
    </div>
    <div>
        <div>Last 5 Games</div>
        <b>MIN</b>: {{player.base_stats.last_5_games.playtime}}
        <b>PTS</b>: {{player.base_stats.last_5_games.points}}
        <b>REB</b>: {{player.base_stats.last_5_games.rebounds}}
        <b>AST</b>: {{player.base_stats.last_5_games.assists}}
        <b>3PM</b>: {{player.base_stats.last_5_games.threes}}
        <b>STL</b>: {{player.base_stats.last_5_games.steals}}
    </div>
</div>
