/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
/app/scrape/json_files
/app/scrape/player_logs
/app/scrape/team_schedules
/app/scrape/misc
/app/scrape/csv
/app/scrape/mod_player_logs
/app/scripts/controllers/graph.js
