<div class="panel panel-default" ng-if="data">
  <div class="panel-heading"><b>{{heading}}</b></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>OWS</th>
        <th>DWS</th>
        <th>OBPM</th>
        <th>DBPM</th>
        <th>TS%</th>
        <th>PER</th>
        <th>USG%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{data.OWS}}</td>
        <td>{{data.DWS}}</td>
        <td>{{data.OBPM}}</td>
        <td>{{data.DBPM}}</td>
        <td>{{data.TS}}</td>
        <td>{{data.PER}}</td>
        <td>{{data.USG}}</td>
      </tr>
    </tbody>
  </table>
</div>