<!-- we are only goin to show this for when the match up is clicked -->
<div class="panel panel-default" ng-if="data">
  <div class="panel-heading">
    <b>Players</b>
    <button ng-click="removeSelectedPlayers(selectedPlayers)" ng-if="selectedPlayers.length > 0"
      class="btn btn-warning btn-sm">Remove Selected Players</button>
    <button ng-click="sortByPosition(data)"
      class="btn btn-primary btn-sm">position</button>
    <button ng-click="getPermutations(selectedPlayers)"
      class="btn btn-primary btn-sm">permutate</button>
    <input type="text" ng-model="searchPlayers" placeholder="Steph Curry" class="pull-right"/>
  </div>
  <div id="players" class="panel-collapse collapse in" style="overflow-x: auto;">
    <table class="table table-hover" table-height="550px" fixed-header>
      <thead>
        <!-- we could loop these but for the sake of order we manually put them here-->
        <tr>
          <th></th>
          <th>Name</th>
          <th>
            <a href="" ng-click="order('basic_info.position')">Pos</a>
            <span class="sortorder" ng-show="predicate === 'basic_info.position'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('opponent.opponent')">Opp</a>
            <span class="sortorder" ng-show="predicate === 'opponent.opponent'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>Pref</th>
          <th>
            <a href="" ng-click="order('last_1_games.playtime')">Min1</a>
            <span class="sortorder" ng-show="predicate === 'last_1_games.playtime'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('last_3_games.playtime')">Min3</a>
            <span class="sortorder" ng-show="predicate === 'last_3_games.playtime'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('stats.playtime')">Min</a>
            <span class="sortorder" ng-show="predicate === 'stats.playtime'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('last_1_games.dk_points')">FP1</a>
            <span class="sortorder" ng-show="predicate === 'last_1_games.dk_points'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('last_3_games.dk_points')">FP3</a>
            <span class="sortorder" ng-show="predicate === 'last_3_games.dk_points'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('stats.dk_points')">FP</a>
            <span class="sortorder" ng-show="predicate === 'stats.dk_points'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('fppPerMinute')">FP/M</a>
            <span class="sortorder" ng-show="predicate === 'fppPerMinute'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('opportunityScore')">OpS3</a>
            <span class="sortorder" ng-show="predicate === 'opportunityScore'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('tempWeightedNet')">tW</a>
            <span class="sortorder" ng-show="predicate === 'tempWeightedNet'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('val')">VAL3</a>
            <span class="sortorder" ng-show="predicate === 'val'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('salary')">$</a>
            <span class="sortorder" ng-show="predicate === 'salary'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('teams_against[opponent.opponent].stats.dk_points')">Season</a>
            <span class="sortorder" ng-show="predicate === 'teams_against[opponent.opponent].stats.dk_points'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('dvp.last_5')">Opp DvP</a>
            <span class="sortorder" ng-show="predicate === 'dvp.last_5'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('ftr')">FTr</a>
            <span class="sortorder" ng-show="predicate === 'ftr'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('trb')">TRb</a>
            <span class="sortorder" ng-show="predicate === 'trb'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('stats.fouls')">F36</a>
            <span class="sortorder" ng-show="predicate === 'stats.fouls'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('last_1_games.usage')">USG1</a>
            <span class="sortorder" ng-show="predicate === 'last_1_games.usage'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('last_3_games.usage')">USG3</a>
            <span class="sortorder" ng-show="predicate === 'last_3_games.usage'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('usage')">USG</a>
            <span class="sortorder" ng-show="predicate === 'usage'" ng-class="{reverse:reverse}"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in data | orderBy:predicate:reverse | filter:searchPlayers"
            ng-class="playerStatus(player)">
          <td><input type="checkbox" ng-click="toggleSelectedPlayer(player)"></td>
          <td>
            {{player.basic_info.name}}
            <div>
              <i class="fa fa-newspaper-o"
                ng-if="player.news"
                data-animation="am-flip-x"
                title="{{player.news.report}}" bs-tooltip>
              </i>
              <i class="fa fa-table"
                ng-if="player.last_1_games.record_margin"
                data-animation="am-flip-x"
                title="{{player.last_1_games.record_margin}}" bs-tooltip>
              </i>
            </div>
          </td>
          <td>{{player.basic_info.position}}</td>
          <td>{{player.opponent.location}} {{player.opponent.opponent}} 
            <div>({{player.matchup.player}})</div></td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.bestAt.diff > 0 && 
              ((player.bestAt.location == 'Away' && player.opponent.location == '@') || 
              (player.bestAt.location == 'Home' && player.opponent.location == 'vs'))}">
            </i>
            {{player.bestAt.location}} 
            <span ng-if="(player.bestAt.location == 'Away' && player.opponent.location == '@') || 
              (player.bestAt.location == 'Home' && player.opponent.location == 'vs')">
              ({{player.bestAt.diff}})
            </span>
          </td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.minuteIncrease.last_1_games == 'up', 
              'fa fa-arrow-down status-red': player.minuteIncrease.last_1_games == 'down'}"></i>
            {{player.last_1_games.playtime}}
          </td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.minuteIncrease.last_3_games == 'up', 
              'fa fa-arrow-down status-red': player.minuteIncrease.last_3_games == 'down'}"></i>
            {{player.last_3_games.playtime}}
          </td>
          <td>{{player.stats.playtime}}</td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.lastGameBetterThanAverage.last_1_games == 'up', 
              'fa fa-arrow-down status-red': player.lastGameBetterThanAverage.last_1_games == 'down'}"></i>
            {{player.last_1_games.dk_points}}
          </td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.lastGameBetterThanAverage.last_3_games == 'up', 
              'fa fa-arrow-down status-red': player.lastGameBetterThanAverage.last_3_games == 'down'}"></i>
            {{player.last_3_games.dk_points}}
          </td>
          <td>{{player.stats.dk_points}}</td>
          <td>{{player.fppPerMinute}}</td>
          <td>{{player.opportunityScore}}</td>
          <td>{{player.tempWeightedNet}} ({{player.weightedRatio}})</td>
          <td ng-class="{'good-pick': player.val >= 5,
            'bad-pick': player.val <= 4 && player.stats.dk_points <= 35}">
            {{player.val}}
          </td>
          <td>{{player.salary}}</td>
          <td ng-if="player.teams_against[player.opponent.opponent]"
              ng-class="{'good-pick': player.teams_against[player.opponent.opponent].stats.dk_points > player.stats.dk_points}">
              {{player.teams_against[player.opponent.opponent].stats.dk_points}}
          </td>
          <td ng-if="!player.teams_against[player.opponent.opponent]">N/A</td>
          <td ng-class="{'good-pick': player.dvp['last_5_ratio'] >= 1.15,
            'bad-pick': player.dvp['last_5_ratio'] <= 0.90}">
            {{player.dvp['last_5']}} ({{player.dvp['last_5_ratio']}})
          </td>
          <td>{{player.ftr}}</td>
          <td>{{player.trb}}</td>
          <td ng-class="{'warning': player.stats.fouls >= 4.5}">{{player.stats.fouls}}</td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.usageIncrease.last_1_games == 'up',
              'fa fa-arrow-down status-red': player.usageIncrease.last_1_games == 'down'}"></i>
            {{player.last_1_games.usage}}
          </td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.usageIncrease.last_3_games == 'up',
              'fa fa-arrow-down status-red': player.usageIncrease.last_3_games == 'down'}"></i>
            {{player.last_3_games.usage}}
          </td>
          <td ng-class="{'good-pick': player.usage >= 20}">{{player.usage}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>