<!-- we are only goin to show this for when the match up is clicked -->
<div class="panel panel-default" ng-if="data">
  <div class="panel-heading">
    <a ng-show="showMax"
      class="cursor-pointer"
      ng-click="toggleCategories('min')">
        <b>Worst Against (Positions)</b>
    </a>
    <a ng-show="showMin"
      class="cursor-pointer"
      ng-click="toggleCategories('max')">
        <b>Best Against (Positions)</b>
    </a>
    <span class="fa fa-gg pull-right cursor-pointer" data-toggle="collapse"
      data-target="#positions"
      class="cursor-pointer"></span>
  </div>
  <div id="positions" class="panel-collapse collapse in">
    <table class="table table-striped">
      <thead>
        <!-- we could loop these but for the sake of order we manually put them here-->
        <tr>
          <th>Position</th>
          <th>Team</th>
          <th>Season (League Avg.)</th>
          <th>Matchup Strength</th>
          <th>Last 5</th>
          <th>Last 10</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(position, team) in data">
          <td>{{position}}</td>
          <td ng-show="showMax">{{team.max.Team}}</td>
          <td ng-show="showMax">{{team.max.Season}} ({{team.average}})</td>
          <td ng-show="showMax">{{team.max.matchup}}</td>
          <td ng-show="showMax">{{team.max['Last 5']}}</td>
          <td ng-show="showMax">{{team.max['Last 10']}}</td>
          <td ng-show="showMin">{{team.min.Team}}</td>
          <td ng-show="showMin">{{team.min.Season}} ({{team.average}})</td>
          <td ng-show="showMin">{{team.min.matchup}}</td>
          <td ng-show="showMin">{{team.min['Last 5']}}</td>
          <td ng-show="showMin">{{team.min['Last 10']}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>