<!-- we are only goin to show this for when the match up is clicked -->
<div class="panel panel-default" ng-if="data">
  <div class="panel-heading">
    <b>Players</b>
    <span class="fa fa-gg pull-right cursor-pointer" data-toggle="collapse"
      data-target="#maxval"
      class="cursor-pointer"></span>
  </div>
  <div id="categories" class="panel-collapse collapse in">
    <table class="table table-hover" table-height="550px" fixed-header>
      <thead>
        <!-- we could loop these but for the sake of order we manually put them here-->
        <tr>
          <th>Name</th>
          <th>
            <a href="" ng-click="order('basic_info.position')">Pos</a>
            <span class="sortorder" ng-show="predicate === 'basic_info.position'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('opponent.opponent')">Opp</a>
            <span class="sortorder" ng-show="predicate === 'opponent.opponent'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>Pref (> 1.75)</th>
          <th>
            <a href="" ng-click="order('last_1_games.playtime')">Min (L1)</a>
            <span class="sortorder" ng-show="predicate === 'last_1_games.playtime'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('last_3_games.playtime')">Min (L3)</a>
            <span class="sortorder" ng-show="predicate === 'last_3_games.playtime'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('stats.playtime')">Min (Avg)</a>
            <span class="sortorder" ng-show="predicate === 'stats.playtime'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('last_1_games.dk_points')">FP (L1)</a>
            <span class="sortorder" ng-show="predicate === 'last_1_games.dk_points'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('last_3_games.dk_points')">FP (L3)</a>
            <span class="sortorder" ng-show="predicate === 'last_3_games.dk_points'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('stats.dk_points')">FP (Avg)</a>
            <span class="sortorder" ng-show="predicate === 'stats.dk_points'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('fppPerMinute')">FP/Min (Avg)</a>
            <span class="sortorder" ng-show="predicate === 'fppPerMinute'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('opportunityScore')">OppScr (L3)</a>
            <span class="sortorder" ng-show="predicate === 'opportunityScore'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('teams_against[opponent.opponent].stats.dk_points')">Season Vs</a>
            <span class="sortorder" ng-show="predicate === 'teams_against[opponent.opponent].stats.dk_points'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('dvp.last_5')">Opp DvP</a>
            <span class="sortorder" ng-show="predicate === 'dvp.last_5'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('bpm.obpm')">OBPM</a>
            <span class="sortorder" ng-show="predicate === 'bpm.obpm'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('bpm.dbpm')">DBPM</a>
            <span class="sortorder" ng-show="predicate === 'bpm.dbpm'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('cov')">COV</a>
            <span class="sortorder" ng-show="predicate === 'cov'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('last_1_games.usage')">USG (L1)</a>
            <span class="sortorder" ng-show="predicate === 'last_1_games.usage'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('last_3_games.usage')">USG (L3)</a>
            <span class="sortorder" ng-show="predicate === 'last_3_games.usage'" ng-class="{reverse:reverse}"></span>
          </th>
          <th>
            <a href="" ng-click="order('usage')">USG (Avg)</a>
            <span class="sortorder" ng-show="predicate === 'usage'" ng-class="{reverse:reverse}"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in data | orderBy:predicate:reverse"
            ng-class="playerStatus(player.status)">
          <td>{{player.basic_info.name}}</td>
          <td>{{player.basic_info.position}}</td>
          <td>{{player.opponent.location}} {{player.opponent.opponent}}</td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.bestAt.diff > 0 && ((player.bestAt.location == 'Away' && player.opponent.location == '@') || (player.bestAt.location == 'Home' && player.opponent.location == 'vs'))}"></i>
            {{player.bestAt.location}} <span ng-if="(player.bestAt.location == 'Away' && player.opponent.location == '@') || (player.bestAt.location == 'Home' && player.opponent.location == 'vs')">({{player.bestAt.diff}})</span>
          </td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.minuteIncrease.last_1_games == 'up', 'fa fa-arrow-down status-red': player.minuteIncrease.last_1_games == 'down'}"></i>
            {{player.last_1_games.playtime}}
          </td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.minuteIncrease.last_3_games == 'up', 'fa fa-arrow-down status-red': player.minuteIncrease.last_3_games == 'down'}"></i>
            {{player.last_3_games.playtime}}
          </td>
          <td>{{player.stats.playtime}}</td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.lastGameBetterThanAverage.last_1_games == 'up', 'fa fa-arrow-down status-red': player.lastGameBetterThanAverage.last_1_games == 'down'}"></i>
            {{player.last_1_games.dk_points}}
          </td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.lastGameBetterThanAverage.last_3_games == 'up', 'fa fa-arrow-down status-red': player.lastGameBetterThanAverage.last_3_games == 'down'}"></i>
            {{player.last_3_games.dk_points}}
          </td>
          <td>{{player.stats.dk_points}}</td>
          <td>{{player.fppPerMinute}}</td>
          <td>{{player.opportunityScore}}</td>
          <td ng-if="player.teams_against[player.opponent.opponent]"
              ng-class="{'good-pick': player.teams_against[player.opponent.opponent].stats.dk_points > player.stats.dk_points}">{{player.teams_against[player.opponent.opponent].stats.dk_points}}</td>
          <td ng-if="!player.teams_against[player.opponent.opponent]">N/A</td>
          <td ng-class="{'good-pick': player.dvp['last_5_ratio'] >= 1.15}">{{player.dvp['last_5']}} ({{player.dvp['last_5_ratio']}})</td>
          <td>{{player.bpm.obpm}}</td>
          <td>{{player.bpm.dbpm}}</td>
          <td>{{player.cov}}</td>
          <td>
            <i ng-class="{'fa fa-arrow-up status-green': player.usageIncrease.last_1_games == 'up', 'fa fa-arrow-down status-red': player.usageIncrease.last_1_games == 'down'}"></i>
            {{player.last_1_games.usage}}
          </td>
          <td>
              <i ng-class="{'fa fa-arrow-up status-green': player.usageIncrease.last_3_games == 'up', 'fa fa-arrow-down status-red': player.usageIncrease.last_3_games == 'down'}"></i>
            {{player.last_3_games.usage}}
          </td>
          <td ng-class="{'good-pick': player.usage >= 20}">{{player.usage}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>