<div class="panel panel-default" ng-if="data">
  <div class="panel-heading">
    <a ng-show="showThree"
      class="cursor-pointer"
      ng-click="toggleLineup('1')">
        <b>{{heading}} (Last 3)</b>
    </a>
    <a ng-show="showOne"
      class="cursor-pointer"
      ng-click="toggleLineup('3')">
        <b>{{heading}} (Last 1)</b>
    </a>
    <span class="fa fa-gg pull-right cursor-pointer" data-toggle="collapse"
      data-target="#categories"
      class="cursor-pointer"></span>
  </div>
  <table class="table table-striped">
    <thead>
      <!-- we could loop these but for the sake of order we manually put them here-->
      <tr>
        <th>Rk</th>
        <th>Lineup</th>
        <th>G</th>
        <th>MP</th>
        <th>Pace</th>
        <th>FG</th>
        <th>FGA</th>
        <th>FG%</th>
        <th>eFG%</th>
        <th>PTS</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="category in data[numLineups]">
          <td>
            {{category['Rk']}}
          </td>
          <td>
            <span ng-repeat="player in category['Lineup']">{{player}}&nbsp;&nbsp;</span>
          </td>
          <td>
            {{category['G']}}
          </td>
          <td>
            {{category['MP']}}
          </td>
          <td>
            {{category['Pace']}}
          </td>
          <td ng-class="{'good-pick': category['FG'] >= 10,
              'bad-pick': category['FG'] <= -10}">
            {{category['FG']}}
          </td>
          <td ng-class="{'good-pick': category['FGA'] >= 10,
              'bad-pick': category['FGA'] <= -10}">
            {{category['FGA']}}
          </td>
          <td>
            {{category['FG%']}}
          </td>
          <td>
            {{category['eFG%']}}
          </td>
          <td>
            {{category['PTS']}}
          </td>
      </tr>
    </tbody>
  </table>
</div>