<div ng-if="alerts.message" class="alert alert-{{alerts.type}} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> {{alerts.message}}
</div>

<!-- selects // this needs to be a directive soon as well -->
<select ng-model="year"
        ng-change="changeYear(year)">
  <option ng-repeat="year in years">{{year}}</option>
</select>
<select ng-model="team"
        ng-change="getPlayers(team)">
  <option ng-repeat="team in teams">{{team}}</option>
</select>
<select ng-if="teamPlayers"
        ng-model="player"
        ng-change="getPlayerData(year, player)">
  <option ng-repeat="player in teamPlayers">{{player.name}}</option>
</select>

<div ng-if="playerInfo">
  <h2 ng-class="{'status-green' : playerInfo.isStarter}">
    {{playerInfo.name}}
  </h2>
  <h4>{{playerInfo.age}}, {{playerInfo.team}}</h4>
  <h4 ng-if="playerInfo.status"
      ng-class="{'status-green' : (playerInfo.status == 'available')}">
      Status: {{playerInfo.status}}
  </h4>
  <h4>COV: {{playerCov}}</h4>
</div>
<!-- temp holder for base information for home and away -->
  <table class="table table-striped" ng-if="playerInfo">
    <thead>
      <tr>
        <th></th>
        <th>MIN</th>
        <th>GMSC</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Home</td>
        <td>{{playerPlayerTimeHome}}</td>
        <td>{{playerGmscHome}}</td>
      </tr>
      <tr>
        <td>Away</td>
        <td>{{playerPlayerTimeAway}}</td>
        <td>{{playerGmscAway}}</td>
      </tr>
    </tbody>
  </table>
<div stats-table data='playerStats' heading="'Stats'" type='base'></div>
<div stats-table data='playerLast5' heading="'Last 5 Games'" type='base'></div>
<div stats-table data='playerPreAllStar' heading="'Pre All-Star'" type='base'></div>
<div stats-table data='playerPostAllStar' heading="'Post All-Star'" type='base'></div>
<div stats-table data='teamData' type='team'></div>
