<div ng-if="alerts.message" class="alert alert-{{alerts.type}} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> {{alerts.message}}
</div>

<div ng-hide="csvComplete">
  <input type="file" ng-model="file.csv" fileread="file.csv" />
  <button ng-click="getCSV(file.csv)" class="btn btn-default btn-sm">Go</button>
</div>

<div class="padding-bottom-20">
  <h2 class="panel-heading">Today's Games</h2>
  <slick dots="true" arrows="true" infinite="true" data="todaySchedule" init-onload="true" slides-to-show="3" slides-to-scroll="3">
    <div ng-repeat="game in todaySchedule" style="text-align: center;">
      <div ng-click="getTeamStats(game)" class="cursor-pointer" style="color: blue;">{{game.opp}} vs {{game.team}} ({{game.location}})</div>
      <div>{{game.time}}</div>
    </div>
  </slick>
</div>
<div class="row padding-bottom-20">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div ng-class="{'col-lg-8 col-md-8 col-sm-12': maxVAL}">
      <stats-table
          data='summaryUsage.dvpRank.positions'
          type='worst-positions'>
      </stats-table>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12"
          ng-class="{'info-panel': maxVAL}"
          ng-if"maxVAL">
      <stats-table
          data='maxVAL.maxVAL'
          type='max-val'>
      </stats-table>
    </div>
  </div>
</div>

<div class="row padding-bottom-20">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <stats-table
          data='summaryUsage.dvpRank.categories'
          type='worst-categories'>
    </stats-table>
  </div>
</div>

<div class="row padding-bottom-20">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-4 col-md-4 col-sm-12 info-panel">
      <stats-table
          data='summaryUsage.increaseInMinutes'
          type='minutes-increase'>
      </stats-table>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 info-panel">
      <stats-table
            data='summaryUsage.maxUsage'
            type='max-usage'>
      </stats-table>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 info-panel">
      <stats-table
            data='summaryUsage.lastPerformer'
            type='last-performance'>
      </stats-table>
    </div>
  </div>
</div>
<div class="row padding-bottom-20">
  <div class="col-lg-4 col-md-4 col-sm-12 info-panel">
    <stats-table
        data='summaryUsage.playerCov'
        type='player-cov'>
    </stats-table>
  </div>
</div>
<stats-table data="teamLineups"
  type="lineup">
</stats-table>
<!-- advanced team stats table -->
<stats-table
      data='teamAdvancedStats'
      type='advanced'>
</stats-table>
<stats-table
      data='teamDepthChart'
      fantasy='teamFantasyStats'
      news='teamnews'
      type='depthchart'>
</stats-table>

<!-- 
<div class="page-header">
  <select ng-model="year"
          ng-change="changeYear(year)">
    <option ng-repeat="year in years">{{year}}</option>
  </select>
  <select ng-model="team"
          ng-change="getPlayers(team)">
    <option ng-repeat="team in teams">{{team}}</option>
  </select>
  <select ng-if="teamPlayers"
          ng-model="player"
          ng-change="getPlayerData(year, player)">
    <option ng-repeat="player in teamPlayers">{{player.name}}</option>
  </select>
</div>

<div class="padding-bottom-10">
  <a class="cursor-pointer"
    ng-click="showAllNews()">
    Show All News for {{team}}
  </a>
</div>

<div class="panel panel-info"
      ng-repeat="news in teamnews[team]"
      ng-if="news.player == playerInfo.name">
   <div class="panel-heading">{{news.player}}</div>
   <div class="panel-body">
    <div class="padding-bottom-10">
      {{news.report}}
    </div>
    <div class="text-blue">
      {{news.impact}}
    </div>
   </div>

</div>

<div class="panel panel-info" ng-if="todayGame">
 <div class="panel-heading">Today's Game</div>
  <table class="table">
    <thead>
      <tr>
        <th>OPP</th>
        <th>TIME</th>
        <th>LOC</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{todayGame.opp}}</td>
        <td>{{todayGame.time}}</td>
        <td>{{todayGame.location}}<td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-if="playerInfo">
  <h2 ng-class="{'status-green' : playerInfo.isStarter}">
    {{playerInfo.name}}
  </h2>
  <h4>{{playerInfo.age}}, {{playerInfo.team}}</h4>
  <h4 ng-if="playerInfo.status"
      ng-class="{'status-green' : (playerInfo.status == 'available')}">
      Status: {{playerInfo.status}}
  </h4>
  <h4>COV: {{playerCov}}</h4>
</div>

<stats-table data='playerStatsOther'
      type='other'>
</stats-table>
<stats-table data='playerStats'
      heading="'Stats'"
      type='base'>
</stats-table>

<stats-table data='playerAdvancedStats'
      heading="'Adv. Stats'"
      type='player-advanced'>
</stats-table>
<stats-table data='playerLast5'
      heading="'Last 5 Games'"
      type='base'>
</stats-table>
<stats-table data='playerStatsOther.playerPreAllStar'
      heading="'Pre All-Star'"
      type='base'>
</stats-table>
<stats-table data='playerStatsOther.playerPostAllStar'
      heading="'Post All-Star'"
      type='base'>
</stats-table>
<stats-table data='teamData'
      type='team'>
</stats-table>
 -->